
{% macro text_input(name) -%}
    <input type="text" name="{{name}}" value="{{request.POST[name]}}" />
{%- endmacro %}

{% macro dropdown_input(name, options) -%}
    <select name="{{name}}">
        {% for option in options %}
            <option value="{{option}}" {% if option == request.POST[name] %}selected{% endif %}>{{option}}</option>
        {% endfor %}
    </select>
{%- endmacro %}

    
{% macro checkbox_input(name) -%}
    <input type="checkbox" name="{{name}}" value="{{request.POST[name]}}" />
{%- endmacro %}

{% macro radio_input(name, options) -%}
    {% for option in options %}
        <input type="radio" name="{{name}}" value="{{option}}" {% if option == request.POST[name] %}checked{% endif %} /> {{option}}
    {% endfor %}
{%- endmacro %}

{% macro textarea_input(name) -%}
    <textarea name="{{name}}">{{request.POST[name]}}</textarea>
{%- endmacro %}

{% macro submit_button(name) -%}
    <input type="submit" name="{{name}}" value="{{name}}" />
{%- endmacro %}